h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
ol,
html,
body,
p {
  padding: 0;
  margin: 0;
}


body {
    min-width: 800px;
    margin: 80px;
}

main {
    box-shadow: grey 0px 0px 11px 7px;
}

fieldset {
  gap: 10px;
}

.general-button-container,
.education-button-container,
.experience-button-container {
  display: flex;
  gap: 20px;
  align-self: end;
}

.general-button-container > button,
.education-button-container > button,
.experience-button-container > button {
  min-width: 100px;
}
