main {
  display: flex;
  flex-direction: column;
  border: 5px groove darkgray;
  border-radius: 20px;
  min-width: 500px;
  padding: 30px;
  gap: 30px;
  background: linear-gradient(rgb(97, 121, 185) 50%, rgb(255, 255, 255) 50%);
  background-repeat: no-repeat;
  background-size: auto 200px;
}

.main-submit {
  min-width: 300px;
  min-height: 90px;
  font-size: 2rem;
  align-self: center;
  border: none;
  border-radius: 20px;
  background-color: darkslategrey;
  transition: background-color 1s ease, color 1s ease;
}

.main-submit:hover {
  background-color: green;
  color: white;
}

.app-title {
  text-align: center;
  color: white;
  text-shadow: black 0px 2px 3px;
}
