main {
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  min-width: 500px;
  padding: 30px;
  gap: 30px;
  align-items: center;
}

.main-submit {
  min-width: 300px;
  min-height: 90px;
  font-size: 2rem;
}
