.education-container {
    display: flex; 
    flex-direction: column;

}

.school-name-container,
.major-container,
.start-date-container.education,
.end-date-container.education,
.still-attending-container {
    display: flex;
    justify-content: space-between
}