
.general-info-container {
    display: flex;
    flex-direction: column;
    
}




.general-info-container > input {
    max-width: 350px;
}

.name-container,
.email-container,
.phone-container {
    display: flex; 
    justify-content: space-between;
}